///////////////////////////////////////////////////////////////////////////////////
////            WD GRID SYSTEM
///////////////////////////////////////////////////////////////////////////////////

/// row element
.r
    width: 100%
    *zoom: 1
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 1rem 0
    +box-sizing(border-box)
    &.r-fixed
        width: $wdFlexerPhoneWidth
        margin: 0 auto
        +responsive(tablet)
            width: $wdFlexerTabletWidth
        +responsive(desktop)
            width: $wdFlexerFullWidth
    &.r-expanded
        +responsive(desktop)
            width: $wdFlexerExpandedWidth
    /// column horizontal align
    &.r-jc-s
        justify-content: flex-start
    &.r-jc-e
        justify-content: flex-end
    &.r-jc-c
        justify-content: center
    &.r-jc-sa
        justify-content: space-around
    /// column vertical align
    &.r-ai-s
        align-items: flex-start
    &.r-ai-e
        align-items: flex-end
    &.r-ai-c
        align-items: center
    &.r-ai-b
        align-items: baseline
    /// column's content vertical align
    &.r-ac-sa
        & > *
            justify-content: space-around
    &.r-ac-sb
        & > *
            justify-content: space-between
    &.r-ac-c
        & > *
            justify-content: center
    &.r-ac-e
        & > *
            justify-content: flex-end

    /// column element
    & > *
        display: flex
        flex-direction: column
        max-width: 100%
        +box-sizing(border-box)

    @if $wdFlexerUseGrid == true
        /// classic column widths
        @for $i from 1 through $wdFlexerTotalColumns
            & > .c-#{$i}
                +column-width($i)
        @if $wdFlexerUseGridResponsive == true
            @each $scope, $name in $wdFlexerScopes
                +responsive($scope)
                    @for $i from 1 through $wdFlexerTotalColumns
                        & > .#{$name}-c-#{$i}
                            +column-width($i)

    @if $wdFlexerUseGridNoMargin == true
        /// no-margin column widths
        &.r-nm
            margin: 0
            @for $i from 1 through $wdFlexerTotalColumns
                & > .c-#{$i}
                    +column-width($i,0rem,$wdFlexerMaxWidth/$wdFlexerTotalColumns)
            @if $wdFlexerUseGridResponsive == true
                @each $scope, $name in $wdFlexerScopes
                    +responsive($scope)
                        @for $i from 1 through $wdFlexerTotalColumns
                            & > .#{$name}-c-#{$i}
                                +column-width($i,0rem,$wdFlexerMaxWidth/$wdFlexerTotalColumns)

@if $wdFlexerUseGridOneRow == true
    /// responsive layout
    +generate-responsive-layout($wdFlexerTotalColumns,'r')
    @each $scope, $name in $wdFlexerScopes
        +responsive($scope)
            +generate-responsive-layout($wdFlexerTotalColumns,$name)
