/// fluid width formula mixin
=column-width($n,$m:$wdFlexerMarginColumn,$u:$wdFlexerUnit,$c:$wdFlexerTotalColumns)
    flex-basis: calc( (#{$n} * #{$u}) + (#{$n - 1} * #{$m}) - 0.01px )   /// 0.01px is a rounding workaround for MS Edge and IE

=baseColumn
    margin-left: $wdFlexerMarginColumn
    &:nth-child(n)
        margin-left: $wdFlexerMarginColumn
    &:first-child
        margin-left: 0

/// responsive layout formula mixin
=generate-responsive-layout($cols,$scope,$start:1)
    @for $i from $start through $cols
        .#{$scope}-#{$i}
            & > *
                +column-width($wdFlexerTotalColumns/$i)
                margin-bottom: 1rem
                &:nth-child(n)
                    margin-left: $wdFlexerMarginColumn
                &:nth-child(#{$i}n + 1)
                    margin-left: 0
            @if $wdFlexerUseGridNoMargin == true
                &.r-nm > *
                    +column-width($wdFlexerTotalColumns/$i,0rem,$wdFlexerMaxWidth/$wdFlexerTotalColumns)
                    margin-left: 0
                    margin-bottom: 0

/// media query generator, usual version (minimal width)
=responsive($scope)
    @if $scope == desktop
        @media only screen and (min-width: $wdFlexerResponsiveWidthDesktop)
            @content
    @else if $scope == tablet
        @media only screen and (min-width: $wdFlexerResponsiveWidthTablet)
            @content
    @else if $scope == phablet
        @media only screen and (min-width: $wdFlexerResponsiveWidthPhablet)
            @content

=margins-and-paddings($scopeName)
    /// auto margin
    .#{$scopeName}mlr-a
        margin-left: auto
        margin-right: auto
    /// individual margins and paddings
    @each $propertyKey, $propertyName in $wdFlexerPositioningProperties
        @each $sideKey, $sideName in $wdFlexerPositioningIndividualSides
            @each $valueKey, $value in $wdFlexerPositioningValues
                @if $propertyName != 'padding' or $value >= 0
                    .#{$scopeName}#{$propertyKey}#{$sideKey}-#{$valueKey}
                        #{$propertyName}-#{$sideName}: #{$value}rem
    /// bilateral margins and paddings
    @each $propertyKey, $propertyName in $wdFlexerPositioningProperties
        @each $sideKey, $sideName1, $sideName2 in $wdFlexerPositioningBilateralSides
            @each $valueKey, $value in $wdFlexerPositioningValues
                @if $propertyName != 'padding' or $value >= 0
                    .#{$scopeName}#{$propertyKey}#{$sideKey}-#{$valueKey}
                        #{$propertyName}-#{$sideName1}: #{$value}rem
                        #{$propertyName}-#{$sideName2}: #{$value}rem
